<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
    <style>
      #video-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
        grid-auto-rows: 300px;
      }

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <div id="video-grid"></div>

    <script type="module" defer>
      var port = "<%= port %>";
      var roomID = "<%= roomID %>";
      import { io } from "https://cdn.socket.io/4.5.2/socket.io.esm.min.js";
      let socket = io();
      const videoGrid = document.getElementById("video-grid");
      const myVideo = document.createElement("video");
      myVideo.muted = true;

      var peer = new Peer(undefined, {
        path: "/peerjs",
        host: "/",
        port: port,
      });

      let myVideoStream;
      const peers = {};
      navigator.mediaDevices
        .getUserMedia({
          video: true,
          audio: true,
        })
        .then((stream) => {
          myVideoStream = stream;
          addVideoStream(myVideo, stream);

          peer.on("call", (call) => {
            call.answer(stream);
            const video = document.createElement("video");
            call.on("stream", (userVideoStream) => {
              addVideoStream(video, userVideoStream);
            });
          });

          socket.on("user-connected", (userId) => {
            setTimeout(() => {
              connectToNewUser(userId, stream);
            }, 100);
          });
        });

      peer.on("open", (id) => {
        socket.emit("join-room", roomID, id);
      });

      const connectToNewUser = (userId, stream) => {
        const call = peer.call(userId, stream);
        const video = document.createElement("video");
        call.on("stream", (userVideoStream) => {
          addVideoStream(video, userVideoStream);
        });
      };

      const addVideoStream = (video, stream) => {
        video.srcObject = stream;
        video.addEventListener("loadedmetadata", () => {
          video.play();
        });
        videoGrid.append(video);
      };
    </script>
  </body>
</html>
